header {
    height: 100vh;
    background-image: url(../img/banner_hombre_mujer.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);*/
        /*clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);*/
        /*clip-path: polygon(0 90vh, 100% 90vh, 100% 100%, 0 100%);*/       
        clip-path: polygon(0 0, 0 85%, 10% 88%, 20% 91%, 30% 94%, 40% 97%, 50% 98%, 60% 97%, 70% 94%, 80% 91%, 90% 88%, 100% 85%, 100% 0);
        -webkit-clip-path: polygon(0 0, 0 85%, 10% 88%, 20% 91%, 30% 94%, 40% 97%, 50% 98%, 60% 97%, 70% 94%, 80% 91%, 90% 88%, 100% 85%, 100% 0);
        height: 100vh;
    }

    .hero-img {
        background-color: $body-white;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -30%);

        img {
            width: 500px;
            height: 150px;
            padding: 10px;
        }
    }

    .has-animation {
        /*position: relative;*/
    }
    .has-animation p, .has-animation img {
        opacity: 0;
    }
    .has-animation.animate-in img {
        animation: textHidden 0.1s 1.1s forwards;
    }
    .has-animation.animate-in:before, .has-animation.animate-in:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
    }
    .has-animation.animate-in:before {
    background-color: $body-gray;
    }
    .has-animation.animate-in:after {
    background-color: $body-pink;
    animation-delay: .5s;
    }
    .has-animation.animation-ltr.animate-in:before {
    animation: revealLTR 1.8s ease;
    }
    .has-animation.animation-ltr.animate-in:after {
    animation: revealLTR 1s .6s ease;
    }

    .hero-imgs {
        background-color: $body-white;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -30%);

        img {
            width: 500px;
            height: 150px;
            padding: 10px;
        }
    }

    .has-animations {
        /*position: relative;*/
    }
    .has-animations p, .has-animations img {
        opacity: 0;
    }
    .has-animations.animate-in img {
        animation: textHidden 0.1s 1.1s forwards;
    }
    .has-animations.animate-in:before, .has-animations.animate-in:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
    }
    .has-animations.animate-in:before {
    background-color: $body-gold;
    }
    .has-animations.animate-in:after {
    background-color: $body-blue;
    animation-delay: .5s;
    }
    .has-animations.animations-ltr.animate-in:before {
    animation: revealLTR 1.8s ease;
    }
    .has-animations.animations-ltr.animate-in:after {
    animation: revealLTR 1s .6s ease;
    }

    @keyframes revealLTR {
        0% {
            width: 0;
            left: 0;
        }
        65% {
            width: 100%;
            left: 0;
        }
        100% {
            width: 0;
            left: 100%;
        }
    }
    @keyframes textHidden {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        background-position: left;
        clip-path: none;
        -webkit-clip-path: none;
        background-attachment: scroll;
    }
}

@media screen and (max-width: 499px) {
    header {
        clip-path: none;
        margin-bottom: 20px;
        background-attachment: scroll;

        .hero-img {
            img {
                width: 300px !important;
                height: 95px !important;
                padding: 10px;
            }
        }
    }
}

